################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Med-Helper/.vs
/Med-Helper/bin
/Med-Helper/obj
